.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.profileemail {
  font-size: 20px;
  font-weight: 300;
}

/* .container{
    border: 1px solid black;
    border-radius: 10px;
} */

.mobileNo {
  font-size: 22px;
  font-weight: 400;
}

.address_profile {
  font-size: 22px;
  font-weight: 400;
}
